:root {
   --Soft-blue: hsl(215, 51%, 70%);
   --Cyan: hsl(178, 100%, 50%);
   --Very-dark-main-blue: hsl(217, 54%, 11%);
   --Very-dark-plus-blue: hsl(216, 50%, 16%);
   --Very-dark-blue: hsl(215, 32%, 27%);
   --White: hsl(0, 0%, 100%);
}
/* INFO
 - Mobile: 375px
- Desktop: 1440px
- Font size (paragraph): 18px
 */

body {
   margin: 10%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--Very-dark-plus-blue);
}

.container {
   width: 400px;
   height: 550px;
   display: flex;
   border: 5px solid white;
}
